h2.mb-0.testimonials__title.text-3xl.fade-in What Our Clients Say About Us
.testimonials#testimonial-slider
	.testimonial.scale-up.fade-in
		i.fas.fa-quote-left.testimonial__icon
		p.testimonial__text Scooter impressed me on multiple levels. I'm good to go. Dude, your stuff is the bomb!
		.testimonial__info
			.testimonial__img
				img(src="images/testimonial_placeholder.jpg", alt="customer-photo")
			.testimonial__by
				h5.testimonial__name Steve Thomas
				small.testimonial__job Web Developer
	.testimonial.scale-up.fade-in
		i.fas.fa-quote-left.testimonial__icon
		p.testimonial__text Scooter impressed me on multiple levels. I'm good to go. Dude, your stuff is the bomb!
		.testimonial__info
			.testimonial__img
				img(src="images/testimonial_placeholder.jpg", alt="customer-photo")
			.testimonial__by
				h5.testimonial__name Steve Thomas
				small.testimonial__job Web Developer
	.testimonial.scale-up.fade-in
		i.fas.fa-quote-left.testimonial__icon
		p.testimonial__text Scooter impressed me on multiple levels. I'm good to go. Dude, your stuff is the bomb!
		.testimonial__info
			.testimonial__img
				img(src="images/testimonial_placeholder.jpg", alt="customer-photo")
			.testimonial__by
				h5.testimonial__name Steve Thomas
				small.testimonial__job Web Developer
	.testimonial.scale-up.fade-in
		i.fas.fa-quote-left.testimonial__icon
		p.testimonial__text Scooter impressed me on multiple levels. I'm good to go. Dude, your stuff is the bomb!
		.testimonial__info
			.testimonial__img
				img(src="images/testimonial_placeholder.jpg", alt="customer-photo")
			.testimonial__by
				h5.testimonial__name Steve Thomas
				small.testimonial__job Web Developer
	.testimonial.scale-up.fade-in
		i.fas.fa-quote-left.testimonial__icon
		p.testimonial__text Scooter impressed me on multiple levels. I'm good to go. Dude, your stuff is the bomb!
		.testimonial__info
			.testimonial__img
				img(src="images/testimonial_placeholder.jpg", alt="customer-photo")
			.testimonial__by
				h5.testimonial__name Steve Thomas
				small.testimonial__job Web Developer
	.testimonial.scale-up.fade-in
		i.fas.fa-quote-left.testimonial__icon
		p.testimonial__text Scooter impressed me on multiple levels. I'm good to go. Dude, your stuff is the bomb!
		.testimonial__info
			.testimonial__img
				img(src="images/testimonial_placeholder.jpg", alt="customer-photo")
			.testimonial__by
				h5.testimonial__name Steve Thomas
				small.testimonial__job Web Developer
