.clients {
	// background-color: #333;
	display: grid;
	// grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 25px;
	margin-top: 50px;
	margin-bottom: 50px;

	@include mq(xs) {
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		margin-bottom: 90px;
	}
}

.client {
	// max-width: 373px;

	&__img {
		width: 100%;
		// height: auto;
		// vertical-align: middle;
		max-width: 100%;
		overflow: hidden;
	}

	&__title {
		text-transform: capitalize;
		font-size: 18px;
		margin: 10px 0 5px 0;
	}

	&__text {
		text-transform: none;
		font-size: 14px;
		color: #777;
		line-height: 1.5em;
	}
}



