// MASONRY JS STYLE
.grid {
	display: grid;
	place-item: center;

	.grid-sizer,
	.grid-item {
		width: 49%;

		@include mq(sm) {
			width: 32.7%;
		}

		@include mq(lg) {
			width: 24.3%;
		}
	}

	.gutter-sizer {
		width: 2%;

		@include mq(sm) {
			width: .9%;
		}
	}
}


// GALLERY
.gallery {
	margin-bottom: 75px;

	&__img {
		display: grid;
		position: relative;
		margin-bottom: 2%;

		@include mq(sm) {
			margin-bottom: .9%;
		}
	}

	&__img-overlay {
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: 500ms opacity ease-out;

		&:hover {
			opacity: 0.45;
		}
	}
}