extends layouts/app
block content
	.page.about-us.container
		.page__header.nav-intersection.fade-in
			h4.page__subtitle Our Story
			.wrapper
				h1.page__title Skoot
				.line-separator-p.slide-x
		p.about-us__pg1 Bro ipsum dolor sit amet afterbang gondy chowder face shots crank ollie bump rip Snowboard trucks gaper gear jammer crunchy poaching whip. Booter skid lid cork, frozen chicken heads pow pow glades fully flow Whistler white room clean couloir epic road rash. Noodle backside taco mitt bro pow pow scream. Yard sale backside euro, flow park rat steed shreddin stoked brain bucket dust on crust punter grip tape euro clipless. Deck liftie 360 chillax, cork bail derailleur road rash gorby chowder steed. Bomb hole bowl first tracks dust on crust slash schraeder rigid hellflip euro twin tip cork daffy air huck.
		.about-us__img1
			img(src="images/about/image1.jpg", alt="office")
		p.about-us__pg2 Bro ipsum dolor sit amet afterbang gondy chowder face shots crank ollie bump rip Snowboard trucks gaper gear jammer crunchy poaching whip. Booter skid lid cork, frozen chicken heads pow pow glades fully flow Whistler white room clean couloir epic road rash. Noodle backside taco mitt bro pow pow scream. Yard sale backside euro, flow park rat steed shreddin stoked brain bucket dust on crust punter grip tape euro clipless. Deck liftie 360 chillax, cork bail derailleur road rash gorby chowder steed. Bomb hole bowl first tracks dust on crust slash schraeder rigid hellflip euro twin tip cork daffy air huck.
		.about-us__gallery-link
			.about-us__img2-overlay
			h3 Check Our Gallery
		.line-separator-p.slide-x
		.about-us__text
			.about-us__pg4
				h4 Convenience That Matter
				h2 Go Anywhere
				p Bro ipsum dolor sit amet afterbang gondy chowder face shots crank ollie bump rip Snowboard trucks gaper gear jammer crunchy poaching whip. Booter skid lid cork, frozen chicken heads pow pow glades fully flow Whistler white room clean couloir epic road rash. Noodle backside taco mitt bro pow pow scream. Yard sale backside euro, flow park rat steed shreddin stoked brain bucket dust on crust punter grip tape euro clipless. Deck liftie 360 chillax, cork bail derailleur road rash gorby chowder steed. Bomb hole bowl first tracks dust on crust slash schraeder rigid hellflip euro twin tip cork daffy air huck.
				a(href="#contact"): button.button--xs.button--red Contact Us
			.about-us__img3
				img(src="images/about/image3.jpg", alt="scooter")
