extends layouts/app
block content
	.client-single.container.nav-intersection
		.client-single-body
			h4 Client
			h2 Moki
			p Moki with his new titan 8! Enjoy your new ride! Moki with his new titan 8! Enjoy your new ride! Moki with his new titan 8! Enjoy your new ride!
			.client-single-body__img
				img(src="images/testimonials/client1.jpg", alt="client")
		.client-single-aside
			h4.client-single-aside__title Read More Feedbacks
			.client-single-more
				.client-single-more__card
					.client-single-more__img
						img(src="images/testimonials/client2.jpg", alt="client")
					h5 John Tibayan
				.client-single-more__card
					.client-single-more__img
						img(src="images/testimonials/client2.jpg", alt="client")
					h5 John Tibayan
				.client-single-more__card
					.client-single-more__img
						img(src="images/testimonials/client2.jpg", alt="client")
					h5 John Tibayan
				.client-single-more__card
					.client-single-more__img
						img(src="images/testimonials/client2.jpg", alt="client")
					h5 John Tibayan
