<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title #{title}
	body
		.bg-overlay
		include ../includes/header
		//- include ../includes/nav
		block content
		.container
			include ../includes/footer


